@media screen and (max-width: 450px) {
    .applynow {
        display: flex;              // Center content horizontally
        align-items: center;        // Center content vertically
        height: 100vh;    
        background-color: #5CE1E6;
    }
}
