@media screen and (max-width:450px) {
    
    iframe {
        width: 100%;               // Full width of the viewport
        height: 100%;              // Full height of the viewport
        border: none;              // Removes any borders from the iframe
    }
}

