@media screen and (max-width:450px) {
    main {
        display: flex;
        flex-direction: column;

        .container {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            padding-bottom: 5em;
            width: auto;
            height: 100vh;
            overflow: auto;
            
            .faq {

                img {
                    width: 100%;
                    height: auto;
                }
    
                h1 {
                    margin-bottom: 2em;
                    margin-top: 2em;
                }
            }

            .faq-1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                padding: 0em 2em;

                p {
                    text-align: center;
                    text-align: justify;
                }
            }
            #rules {
                text-decoration: underline;
            }
        }
    }
}