@media screen and (max-width:450px) {
    
    $background-color: #f4f4f4;
    $container-bg-color: white;
    $button-bg-color: #FF66C4;
    $button-hover-color: #fa12a1;
    $border-color: #ccc;
    $text-color: #333;
    $link-color: #007bff;
    $link-hover-color: #0056b3;

    h2 {
        margin-bottom: 1.5em;
        margin-top: 1em;
        color: $text-color;
        font-size: x-large;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: 1em;
        background-color: #5CE1E6;
        margin: auto;

        .form-login {
            background-color: $container-bg-color;
            padding: 30px 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 350px;
            text-align: center;

            .login-container {
            
                form {
                    .form-group {
                    margin-bottom: 15px;
            
                        label {
                            display: block;
                            margin-bottom: 5px;
                            color: $text-color;
                            font-size: large;
                            text-align: left;
                        }
                
                        input {
                            width: 100%;
                            padding: 10px;
                            border: 1px solid $border-color;
                            border-radius: 4px;
                            font-size: large;
                        }
                    }
            
                    .login-btn {
                        width: 100%;
                        padding: 10px;
                        background-color: $button-bg-color;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: large;
                
                        &:hover {
                            background-color: $button-hover-color;
                        }
                    }
                }
            
                p {
                    margin-top: 20px;
                    font-size: 14px;
                    color: $text-color;
            
                    a   {
                        color: $link-color;
                        text-decoration: none;
            
                        &:hover {
                            color: $link-hover-color;
                        }
                    }
                }
            }
        }
    }
}