@media screen and (max-width:450px) {

    .container {
        width: 100%;
        height: auto;
        @include align;

        header {
            background-color: #16181a1e;
            backdrop-filter: blur(5px);
            padding: 0.5em 0em;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 5;

            .nav-section {
                color: #efefef;
                display: flex;
                justify-content: space-between;
                margin: auto;
                width: $mobile-width;
                z-index: -99999;

                a {
                    @include alignCenter;
                    height: auto;
                    width: 28px;
                }

                #logo {
                    @include alignCenterRow;
                    z-index: -99999;
                
                    img {
                        max-width: 33px;
                        height: auto;
                        min-width: 33px;
                        transform: rotate(90deg);
                        animation: fadeInLogo 1.2s ease-in-out forwards;
                        animation-delay: 1.5s;
                        z-index: -99999;
                    }
                }

                @keyframes fadeInLogo {
                    from {
                        transform: rotate(90deg);
                    }
                    to {
                        transform: rotate(0);
                    }
                }

                #menu-toggle {
                    display: none;

                    &:checked ~ .slide-menu {
                        left: -17%;
                        top: 0;
                        transition: 0.4s ease-in-out;
                        z-index: -1;

                        .menu-link {
                            animation: fadeInMenu 1.6s ease-in-out forwards;
                        }
                    }

                    &:not(:checked) ~ .slide-menu {
                        background-color: #5CE1E6;
                        left: -100%;
                        right: 0;
                        top: 0;
                        transition: 0.5s ease-in-out;
                        z-index: -1;
                    }

                    &:checked ~ .mobile-footer {
                        left: 0;
                        transition: 0.4s ease-in-out;
                        position: fixed;
                        bottom: 0;
                    }

                    &:not(:checked) ~ .mobile-footer {
                        background-color: #5CE1E6;
                        left: -100%;
                        right: 0;
                        transition: 0.5s ease-in-out;
                        position: fixed;
                        bottom: 0;
                    }

                    @keyframes fadeInMenu {
                        from {
                            opacity: 0;
                            transform: translateX(-20px);
                        }
                        to {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                }
                
                .hamburger {
                    display: flex;
                    flex-direction: column;
                    height: 30px;
                    justify-content: space-around;
                    align-items: center;
                    width: 30px;
                    margin-top: 2px;
                    z-index: 3;

                    span {
                        background-color: #16181a;
                        height: 5.5px;
                        width: 100%;
                        border-radius: 0.5em;
                    }
                }

                .slide-menu {
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    background-color: #5CE1E6;
                    @include align;
                    padding: 0em 0em 0em 15%;

                    .my-address {
                        @include alignRow;
                        width: 100%;
                        background-color: #FF66C4;

                        .my-avatar {
                            padding: 1em 0em 1em 1.3em;
                            display: flex;
                            align-items: flex-start;
                            width: 25%;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        .my-location {
                            @include align;
                            margin: auto;
                            margin-left: 1em;
                            font-size: 1.2rem;
                            align-items: flex-start;

                            :first-child {
                                font-size: 2rem;
                            }
                        }

                    }

                    .nav-bar-links {
                        background-color: #5CE1E6;
                        @include align;
                        width: 100%;

                        li {
                            padding: 1.3em;
                            border-bottom: 1px solid rgba(167, 167, 167, 0.11);
                            width: 100%;

                            a {
                                width: 100%;
                                font-size: 1.5rem;
                                display: flex;
                                align-items: flex-start;
                                justify-items: flex-start;
                                color: #16181a;
                            }
                        }

                        .menu-send-message {
                            margin: 5em 0em 5em;
                            @each $property, $value in $btn-mobile {
                                #{$property}: $value;
                                width: 10.5em;
                            }
                            background-color: #FF66C4;
                        }

                        .mobile-footer {
                            padding: 2em 0em 0em 15%;
                            @include alignCenter;
                            font-size: 1.2rem;
                            width: 85%;
                            color: #16181a;
                
                            .legal-regulations {
                                @include alignCenter;
                                width: 100%;

                                a {
                                    width: 100%;
                                    padding: 0em 0em 0.5em;
                                }
                            }
                        }
                    }
                }
            }
        }
        /* End of header */

        .hero-section {
            width: 100%;
            height: 100vh;
            justify-content: flex-start;
            text-align: left;
            padding: 0em 5%;
            background-color: transparent;
    
            .hero-container {
                color: $font-color1;
                margin-top: 0em;
                padding-top: 5em;
                @include alignCenter;
                color: #16181a;
                text-align: left;
                justify-content: left;
                width: 65%;
    
                .hero-details {
                    width: 100%;
                    @include align;
    
                    h2 {
                        margin-bottom: 0em;
                        width: 70%;
                        margin-top: 1em;
                        font-size: 1.5rem;
                        animation: fadeIn 1.6s ease-in-out forwards;
                    }
                    
                    h1 {
                        font-size: 5rem;
                        font-weight: 600;
                        margin-bottom: 0em;
                        opacity: 0;
                        animation: fadeIn 1s ease-in-out forwards;
                    }
                    
                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                            transform: translateY(10px);
                        }
                        to {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
    
                    .buttons {
                        display: flex;
                        animation: ButtonHero 0.6s forwards;
                        animation-delay: 2.2s;

                        .view-work {
                            @each $property, $value in $btn-mobile {
                                #{$property}: $value;
                            }
                            margin-top: 5em;
                            box-shadow: 0px 2px 4px rgba(161, 165, 161, 0.718);
                            background-color: #FF66C4;
                            text-align: center;
                        }

                        @keyframes ButtonHero {
                            0%, 100% {
                                transform: translateX(0) rotate(0deg);
                            }
                            25%, 75% {
                                transform: translateX(-10%) rotate(-10deg);
                            }
                            50% {
                                transform: translateX(0) rotate(0deg);
                            }
                        }
                    }
                }
    
                .hero-img {
                    position: absolute;
                    opacity: 1;
                    top: 0;
                    right: 0;
                    filter: blur(10px); /* Initial blur effect */
                    width: 100vw;
                    height: 100vh;
                    animation: fadeInAndBlurRemoval 0.8s ease-in-out 0.5s forwards;
                    z-index: -50;
                    background-color: #5CE1E6;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                
                @keyframes fadeInAndBlurRemoval {
                    from {
                        filter: blur(10px);
                    }
                    to {
                        filter: blur(0);
                    }
                }
            }
        }

        /* End of Hero Section */

        /* Start of Amenities Section */

        .amenities-section {
            display: flex;
            width: 100%;
            height: auto;
            justify-content: flex-start;
            text-align: left;
            background-color: #FF66C4;

            .amenities-container {
                background-color: #FF66C4;
                width: 100%;
                height: auto;

                h3 {
                    padding: 0.855em 5% 0.855em;
                    font-size: 5rem;
                    color: #5CE1E6;
                }

                .image-container {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    overflow: scroll;
                    padding: 0em 5% 0em 5%;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                p {
                    color: #efefef;
                    padding: 2em 5% 0em;
                    font-size: 1.5rem;
                }

                p:nth-of-type(2) {
                    padding: 2em 5% 2em;
                    /* Add any other styles you want for the second <p> element */
                }
            }
        }

        /* End of Amenities Section */

        /* Start of Roommate Matching Section */

        .roommate-matching-section {
            background-color: #5CE1E6;
            height: auto;
            width: 100%;

            .roomate-matching-container {
                background-color: transparent;
                display: flex;
                flex-direction: column;

                H4 {
                    font-size: 3.5rem;
                    padding: 0.855em 5% 0.2em;
                    font-weight: 600;
                    margin-top: 1.5em;
                }

                p {
                    font-size: 1.5rem;
                    padding: 0em 5% 0.2em;
                }

                .roommate-matching-form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    margin-top: 1em;

                    form {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        width: 100%;
                        font-size: 1.5rem;
                        margin: 2em 0em 1em;
                        padding-left: 21%;

                        .input-course, .input-age, .input-color {
                            display: flex;
                            flex-direction: row;
                            padding: 1em 0em;

                            label {
                                padding: 0em 1em;
                            }

                            input {
                                border: 2px solid $font-color1;
                                border-radius: 0.3em;
                                text-align: left;
                                width: 50%;
                            }

                            #course {
                                width: 42.5%;
                            }

                            #age {
                                width: 49.5%;
                            }

                            #color {
                                width: 48%;
                            }

                            &:nth-child(2) {
                                padding: 0em 2em 0em 1.6em;
                            }

                            &:nth-child(3) {
                                padding: 1em 2em 1em 1em;
                            }
                          
                            ::placeholder {
                                background-color: #efefef;
                                padding: 0em 0.2em 0em 0.2em;
                            }
                          
                            // Add styling for the input field inside .input-age if needed
                        }
                    }

                    button {

                        @each $property, $value in $btn-mobile {
                            #{$property}: $value;
                            width: 10.5em;
                        }
                        background-color: #FF66C4;
                        margin-bottom: 2em;
                        margin-top: 1em;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        /* End of Roommate Matching Section */

        /* Start of Features Section */

        .features {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100vh;
            justify-content: center;
            background-color: #FF66C4;

            .features-container {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                height: 100%;
                width: 90%;
                padding: 2em 0em;
                align-items: center;

                .group-a, .group-b {
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    justify-content: center;
                    width: 90%;
    
                    .feature-a, .feature-b, .feature-c, .feature-d {
                        padding: 1em 0.5em;
    
                        img {
                            max-width: 100px;
                            height: 100px;
                        }
    
                        p {
                            font-size: 1rem;
                            text-align: left;
                            color: #efefef;
                        }
                    }
                }
            }

            
        }
    }
}