@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

body.show-focus-outline a:focus,
body.show-focus-outline button:focus,
body.show-focus-outline input:focus,
body.show-focus-outline select:focus,
body.show-focus-outline textarea:focus,
body.show-focus-outline .icon:focus {
  outline: none;
}

h3 {
  font-size: 3rem;
  font-weight: 600;
  font-weight: 600;
}

h4 {
  font-size: 2.5rem;
}

@media screen and (max-width: 450px) {
  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* End of header */
    /* End of Hero Section */
    /* Start of Amenities Section */
    /* End of Amenities Section */
    /* Start of Roommate Matching Section */
  }
  .container header {
    background-color: transparent;
    padding: 0.75em 0em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  .container header .nav-section {
    color: #efefef;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    z-index: -99999;
  }
  .container header .nav-section a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 28px;
  }
  .container header .nav-section #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -99999;
  }
  .container header .nav-section #logo img {
    max-width: 33px;
    height: auto;
    min-width: 33px;
    transform: rotate(90deg);
    animation: fadeInLogo 1.2s ease-in-out forwards;
    animation-delay: 1.5s;
    z-index: -99999;
  }
  @keyframes fadeInLogo {
    from {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(0);
    }
  }
  .container header .nav-section #menu-toggle {
    display: none;
  }
  .container header .nav-section #menu-toggle:checked ~ .slide-menu {
    left: -15%;
    top: 0;
    transition: 0.4s ease-in-out;
    z-index: -1;
  }
  .container header .nav-section #menu-toggle:checked ~ .slide-menu .menu-link {
    animation: fadeInMenu 1.6s ease-in-out forwards;
  }
  .container header .nav-section #menu-toggle:not(:checked) ~ .slide-menu {
    background-color: #5CE1E6;
    left: -100%;
    right: 0;
    top: 0;
    transition: 0.5s ease-in-out;
    z-index: -1;
  }
  .container header .nav-section #menu-toggle:checked ~ .mobile-footer {
    left: 0;
    transition: 0.4s ease-in-out;
  }
  .container header .nav-section #menu-toggle:not(:checked) ~ .mobile-footer {
    background-color: #5CE1E6;
    left: -100%;
    right: 0;
    transition: 0.5s ease-in-out;
  }
  @keyframes fadeInMenu {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .container header .nav-section .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18px;
    justify-content: space-between;
    width: 25px;
    z-index: 3;
  }
  .container header .nav-section .hamburger span {
    background-color: #FF66C4;
    height: 3.5px;
    width: 100%;
    border-radius: 0.5em;
  }
  .container header .nav-section .slide-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #5CE1E6;
    display: flex;
    flex-direction: column;
    padding: 0em 0em 0em 15%;
  }
  .container header .nav-section .slide-menu .my-address {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FF66C4;
  }
  .container header .nav-section .slide-menu .my-address .my-avatar {
    padding: 1em 0em 1em 1em;
    display: flex;
    align-items: flex-start;
    width: 25%;
  }
  .container header .nav-section .slide-menu .my-address .my-avatar img {
    width: 100%;
    height: auto;
  }
  .container header .nav-section .slide-menu .my-address .my-location {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 1em;
    font-size: 1.2rem;
    align-items: flex-start;
  }
  .container header .nav-section .slide-menu .my-address .my-location :first-child {
    font-size: 2rem;
  }
  .container header .nav-section .slide-menu .nav-bar-links {
    background-color: #5CE1E6;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container header .nav-section .slide-menu .nav-bar-links li {
    padding: 1em;
    border-bottom: 1px solid rgba(167, 167, 167, 0.11);
    width: 100%;
  }
  .container header .nav-section .slide-menu .nav-bar-links li a {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    color: #16181a;
  }
  .container header .nav-section .slide-menu .nav-bar-links .menu-send-message {
    margin: 5em 0em 5em;
    align-self: center;
    width: 10.5em;
    background-color: #FBBF00;
    width: 10.5em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    width: 10.5em;
    color: #000000;
    width: 10.5em;
    font-weight: 600;
    width: 10.5em;
    padding: 0.6em 1em;
    width: 10.5em;
    transition: background-color 0.3s ease;
    width: 10.5em;
    width: 10em;
    width: 10.5em;
    border-radius: 0.5em;
    width: 10.5em;
    font-size: 1.5rem;
    width: 10.5em;
    margin-right: 0em;
    width: 10.5em;
    text-shadow: 1px 1px 1px rgba(221, 219, 219, 0.5);
    width: 10.5em;
    background-color: #FF66C4;
  }
  .container header .nav-section .slide-menu .nav-bar-links .mobile-footer {
    padding: 2em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 85%;
    color: #16181a;
    position: fixed;
    bottom: 0;
  }
  .container header .nav-section .slide-menu .nav-bar-links .mobile-footer .legal-regulations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .container header .nav-section .slide-menu .nav-bar-links .mobile-footer .legal-regulations a {
    width: 100%;
    padding: 0em 0em 0.5em;
  }
  .container .hero-section {
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    text-align: left;
    padding: 0em 5%;
    background-color: transparent;
  }
  .container .hero-section .hero-container {
    color: #efefef;
    margin-top: 0em;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #16181a;
    text-align: left;
    justify-content: left;
    width: 65%;
  }
  .container .hero-section .hero-container .hero-details {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container .hero-section .hero-container .hero-details h2 {
    margin-bottom: 0em;
    width: 70%;
    margin-top: 1em;
    font-size: 1.5rem;
    animation: fadeIn 1.6s ease-in-out forwards;
  }
  .container .hero-section .hero-container .hero-details h1 {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 0em;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .container .hero-section .hero-container .hero-details .buttons {
    display: flex;
    animation: ButtonHero 0.6s forwards;
    animation-delay: 2.2s;
  }
  .container .hero-section .hero-container .hero-details .buttons .view-work {
    align-self: center;
    background-color: #FBBF00;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    color: #000000;
    font-weight: 600;
    padding: 0.6em 1em;
    transition: background-color 0.3s ease;
    width: 10em;
    border-radius: 0.5em;
    font-size: 1.5rem;
    margin-right: 0em;
    text-shadow: 1px 1px 1px rgba(221, 219, 219, 0.5);
    margin-top: 5em;
    box-shadow: 0px 2px 4px rgba(161, 165, 161, 0.718);
    background-color: #FF66C4;
    text-align: center;
  }
  @keyframes ButtonHero {
    0%, 100% {
      transform: translateX(0) rotate(0deg);
    }
    25%, 75% {
      transform: translateX(-10%) rotate(-10deg);
    }
    50% {
      transform: translateX(0) rotate(0deg);
    }
  }
  .container .hero-section .hero-container .hero-img {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    filter: blur(10px); /* Initial blur effect */
    width: 100vw;
    height: 100vh;
    animation: fadeInAndBlurRemoval 0.8s ease-in-out 0.5s forwards;
    z-index: -50;
    background-color: #5CE1E6;
  }
  .container .hero-section .hero-container .hero-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  @keyframes fadeInAndBlurRemoval {
    from {
      opacity: 0;
      filter: blur(10px);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }
  .container .amenities-section {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    text-align: left;
    background-color: #FF66C4;
  }
  .container .amenities-section .amenities-container {
    background-color: #FF66C4;
    width: 100%;
    height: auto;
  }
  .container .amenities-section .amenities-container h3 {
    padding: 0.855em 5% 0.855em;
    font-size: 3.5rem;
    color: #5CE1E6;
  }
  .container .amenities-section .amenities-container .image-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: scroll;
    padding: 0em 5% 0em 5%;
  }
  .container .amenities-section .amenities-container .image-container img {
    width: 100%;
    height: auto;
  }
  .container .amenities-section .amenities-container p {
    color: #efefef;
    padding: 2em 5% 0em;
    font-size: 1.5rem;
  }
  .container .amenities-section .amenities-container p:nth-of-type(2) {
    padding: 2em 5% 2em;
    /* Add any other styles you want for the second <p> element */
  }
}/*# sourceMappingURL=style.css.map */