@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

body.show-focus-outline a:focus,
body.show-focus-outline button:focus,
body.show-focus-outline input:focus,
body.show-focus-outline select:focus,
body.show-focus-outline textarea:focus,
body.show-focus-outline .icon:focus {
  outline: none;
}

h3 {
  font-size: 3rem;
  font-weight: 600;
  font-weight: 600;
}

h4 {
  font-size: 2.5rem;
}

@media screen and (max-width: 450px) {
  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* End of header */
    /* End of Hero Section */
    /* Start of Amenities Section */
    /* End of Amenities Section */
    /* Start of Features Section */
    /* Start of Roommate Matching Section */
    /* End of Roommate Matching Section */
  }
  .container header {
    background-color: rgba(22, 24, 26, 0.1176470588);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding: 0.5em 0em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  .container header .nav-section {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    z-index: -99999;
  }
  .container header .nav-section a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 28px;
  }
  .container header .nav-section #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -99999;
  }
  .container header .nav-section #logo img {
    max-width: 33px;
    height: auto;
    min-width: 33px;
    transform: rotate(90deg);
    animation: fadeInLogo 1.2s ease-in-out forwards;
    animation-delay: 1.5s;
    z-index: -99999;
  }
  @keyframes fadeInLogo {
    from {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(0);
    }
  }
  .container header .nav-section #menu-toggle {
    display: none;
  }
  .container header .nav-section #menu-toggle:checked ~ .slide-menu {
    left: -17%;
    top: 0;
    transition: 0.4s ease-in-out;
    z-index: -1;
  }
  .container header .nav-section #menu-toggle:checked ~ .slide-menu .menu-link {
    animation: fadeInMenu 1.6s ease-in-out forwards;
  }
  .container header .nav-section #menu-toggle:not(:checked) ~ .slide-menu {
    background-color: #5CE1E6;
    left: -100%;
    right: 0;
    top: 0;
    transition: 0.5s ease-in-out;
    z-index: -1;
  }
  @keyframes fadeInMenu {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .container header .nav-section .hamburger {
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    margin-top: 2px;
    z-index: 3;
  }
  .container header .nav-section .hamburger span {
    background-color: #16181a;
    height: 5.5px;
    width: 100%;
    border-radius: 0.5em;
  }
  .container header .nav-section .slide-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #5CE1E6;
    display: flex;
    flex-direction: column;
    padding: 0em 0em 0em 15%;
  }
  .container header .nav-section .slide-menu .my-address {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FF66C4;
  }
  .container header .nav-section .slide-menu .my-address .my-avatar {
    padding: 1em 0em 1em 1.3em;
    display: flex;
    align-items: flex-start;
    width: 25%;
  }
  .container header .nav-section .slide-menu .my-address .my-avatar img {
    width: 100%;
    height: auto;
  }
  .container header .nav-section .slide-menu .my-address .greetings {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 1em;
    font-size: 1.2rem;
    align-items: flex-start;
  }
  .container header .nav-section .slide-menu .my-address .greetings :first-child {
    font-size: 2rem;
  }
  .container header .nav-section .slide-menu .nav-bar-links {
    background-color: #5CE1E6;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container header .nav-section .slide-menu .nav-bar-links li {
    padding: 1.3em;
    border-bottom: 1px solid rgba(167, 167, 167, 0.11);
    width: 100%;
  }
  .container header .nav-section .slide-menu .nav-bar-links li a {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    color: #16181a;
  }
  .container header .nav-section .slide-menu .nav-bar-links .menu-send-message {
    margin: 5em 0em 5em;
    align-self: center;
    width: 10.5em;
    background-color: #FBBF00;
    width: 10.5em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    width: 10.5em;
    color: #000000;
    width: 10.5em;
    font-weight: 600;
    width: 10.5em;
    padding: 0.6em 1em;
    width: 10.5em;
    transition: background-color 0.3s ease;
    width: 10.5em;
    width: 9em;
    width: 10.5em;
    border-radius: 0.5em;
    width: 10.5em;
    font-size: 1.5rem;
    width: 10.5em;
    margin-right: 0em;
    width: 10.5em;
    text-shadow: 1px 1px 1px rgba(221, 219, 219, 0.5);
    width: 10.5em;
    background-color: #FF66C4;
  }
  .container .hero-section {
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    text-align: left;
    padding: 0em 5%;
    background-image: url("/images/Hero-Section-Background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container .hero-section .hero-container {
    color: #efefef;
    margin-top: 0em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #16181a;
    text-align: left;
    justify-content: left;
    width: 65%;
  }
  .container .hero-section .hero-container .hero-details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .container .hero-section .hero-container .hero-details h2 {
    margin-bottom: 0em;
    width: 65%;
    margin-top: 1em;
    font-size: 1.5rem;
    line-height: 1.7;
    animation: fadeIn 1.6s ease-in-out forwards;
  }
  .container .hero-section .hero-container .hero-details h1 {
    font-size: 5.5rem;
    font-weight: 600;
    margin-bottom: 0em;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
}
@media only screen and (max-width: 450px) and (min-device-width: 360px) and (max-device-width: 360px) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) and (min-device-height: 600px) and (max-device-height: 800px), only screen and (max-width: 450px) and (min-device-width: 360px) and (max-device-width: 360px) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-device-height: 600px) and (max-device-height: 800px) {
  .container .hero-section .hero-container .hero-details h1 {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 450px) {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .container .hero-section .hero-container .hero-details .buttons {
    display: flex;
    animation: ButtonHero 0.6s forwards;
    animation-delay: 2.2s;
  }
  .container .hero-section .hero-container .hero-details .buttons .view-work {
    align-self: center;
    background-color: #FBBF00;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    color: #000000;
    font-weight: 600;
    padding: 0.6em 1em;
    transition: background-color 0.3s ease;
    width: 9em;
    border-radius: 0.5em;
    font-size: 1.5rem;
    margin-right: 0em;
    text-shadow: 1px 1px 1px rgba(221, 219, 219, 0.5);
    margin: 3em 0em 5em;
    box-shadow: 0px 2px 4px rgba(161, 165, 161, 0.718);
    background-color: #FF66C4;
    text-align: center;
  }
  @keyframes ButtonHero {
    0%, 100% {
      transform: translateX(0) rotate(0deg);
    }
    25%, 75% {
      transform: translateX(-10%) rotate(-10deg);
    }
    50% {
      transform: translateX(0) rotate(0deg);
    }
  }
  .container .hero-section .hero-container .hero-img {
    position: absolute;
    opacity: 1;
    top: 0;
    right: 0;
    filter: blur(10px); /* Initial blur effect */
    width: 100vw;
    height: 100vh;
    animation: fadeInAndBlurRemoval 0.8s ease-in-out 0.5s forwards;
    z-index: -50;
    background-color: #5CE1E6;
  }
  .container .hero-section .hero-container .hero-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  @keyframes fadeInAndBlurRemoval {
    from {
      filter: blur(10px);
    }
    to {
      filter: blur(0);
    }
  }
  .container .amenities-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    text-align: left;
    background-image: url("/images/Amenities-Section-Background.svg");
    background-position: center;
    background-size: cover;
  }
  .container .amenities-section .amenities-container {
    width: 100%;
    height: auto;
  }
  .container .amenities-section .amenities-container h3 {
    padding: 0.6em 5% 0.6em;
    font-size: 4.5rem;
    color: #16181a;
    text-align: left;
  }
}
@media only screen and (max-width: 450px) and (min-device-width: 360px) and (max-device-width: 360px) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) and (min-device-height: 600px) and (max-device-height: 800px), only screen and (max-width: 450px) and (min-device-width: 360px) and (max-device-width: 360px) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-device-height: 600px) and (max-device-height: 800px) {
  .container .amenities-section .amenities-container h3 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .container .amenities-section .amenities-container .image-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2em 0em 1em;
  }
  .container .amenities-section .amenities-container .image-container img {
    width: 100%;
    height: auto;
  }
  .container .amenities-section .amenities-container p {
    color: #16181a;
    padding: 3em 5% 8em;
    font-size: 1.5rem;
    line-height: 2;
  }
  .container .amenities-section .amenities-container p:nth-of-type(2) {
    padding: 2em 5% 4em;
    /* Add any other styles you want for the second <p> element */
  }
  .container .features .features-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2em 0em 2em;
    align-items: center;
    background-color: #5CE1E6;
  }
  .container .features .features-container .group-a, .container .features .features-container .group-b {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    padding: 0em 3% 0em;
  }
  .container .features .features-container .group-a .feature-a, .container .features .features-container .group-a .feature-b, .container .features .features-container .group-a .feature-c, .container .features .features-container .group-a .feature-d, .container .features .features-container .group-b .feature-a, .container .features .features-container .group-b .feature-b, .container .features .features-container .group-b .feature-c, .container .features .features-container .group-b .feature-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 0.5em 0em;
    border-radius: 0.3em;
    padding: 0.5em;
    height: 270px;
    background-color: #86F1F3;
    position: relative;
  }
  .container .features .features-container .group-a .feature-a.feature-a, .container .features .features-container .group-a .feature-b.feature-a, .container .features .features-container .group-a .feature-c.feature-a, .container .features .features-container .group-a .feature-d.feature-a, .container .features .features-container .group-b .feature-a.feature-a, .container .features .features-container .group-b .feature-b.feature-a, .container .features .features-container .group-b .feature-c.feature-a, .container .features .features-container .group-b .feature-d.feature-a {
    background-image: url("/images/feature-a_background.png");
    background-position: center;
    background-size: cover;
  }
  .container .features .features-container .group-a .feature-a.feature-b, .container .features .features-container .group-a .feature-b.feature-b, .container .features .features-container .group-a .feature-c.feature-b, .container .features .features-container .group-a .feature-d.feature-b, .container .features .features-container .group-b .feature-a.feature-b, .container .features .features-container .group-b .feature-b.feature-b, .container .features .features-container .group-b .feature-c.feature-b, .container .features .features-container .group-b .feature-d.feature-b {
    background-image: url("/images/feature-b_background.png");
    background-position: center;
    background-size: cover;
  }
  .container .features .features-container .group-a .feature-a.feature-c, .container .features .features-container .group-a .feature-b.feature-c, .container .features .features-container .group-a .feature-c.feature-c, .container .features .features-container .group-a .feature-d.feature-c, .container .features .features-container .group-b .feature-a.feature-c, .container .features .features-container .group-b .feature-b.feature-c, .container .features .features-container .group-b .feature-c.feature-c, .container .features .features-container .group-b .feature-d.feature-c {
    background-image: url("/images/feature-c_background.png");
    background-position: center;
    background-size: cover;
  }
  .container .features .features-container .group-a .feature-a.feature-d, .container .features .features-container .group-a .feature-b.feature-d, .container .features .features-container .group-a .feature-c.feature-d, .container .features .features-container .group-a .feature-d.feature-d, .container .features .features-container .group-b .feature-a.feature-d, .container .features .features-container .group-b .feature-b.feature-d, .container .features .features-container .group-b .feature-c.feature-d, .container .features .features-container .group-b .feature-d.feature-d {
    background-image: url("/images/feature-d_background.png");
    background-position: center;
    background-size: cover;
  }
  .container .features .features-container .group-a .feature-a img, .container .features .features-container .group-a .feature-b img, .container .features .features-container .group-a .feature-c img, .container .features .features-container .group-a .feature-d img, .container .features .features-container .group-b .feature-a img, .container .features .features-container .group-b .feature-b img, .container .features .features-container .group-b .feature-c img, .container .features .features-container .group-b .feature-d img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    z-index: 1;
  }
  .container .features .features-container .group-a .feature-a p, .container .features .features-container .group-a .feature-b p, .container .features .features-container .group-a .feature-c p, .container .features .features-container .group-a .feature-d p, .container .features .features-container .group-b .feature-a p, .container .features .features-container .group-b .feature-b p, .container .features .features-container .group-b .feature-c p, .container .features .features-container .group-b .feature-d p {
    display: flex;
    font-size: 1.2rem;
    text-align: left;
    color: #16181a;
    padding: 1em 1em;
    margin-top: 8em;
    margin-bottom: 2.5em;
    text-align: left;
    width: 175px;
  }
  .container .features .mobile-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #16181a;
    background-color: #5CE1E6;
    padding: 2em 0em;
  }
  .container .features .mobile-footer .social-links #martinez-logo {
    width: 100%;
    height: auto;
  }
  .container .features .mobile-footer .social-links .icon-links img {
    margin: 2em 0.5em 2em;
  }
  .container .features .mobile-footer .legal-regulations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .container .features .mobile-footer .legal-regulations a {
    width: 100%;
    padding: 0em 0em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .roommate-matching-section {
    display: none;
    background-color: #5CE1E6;
    height: auto;
    width: 100%;
  }
  .container .roommate-matching-section .roomate-matching-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }
  .container .roommate-matching-section .roomate-matching-container H4 {
    font-size: 5rem;
    padding: 1.2em 5% 0.2em;
    font-weight: 600;
  }
  .container .roommate-matching-section .roomate-matching-container p {
    font-size: 1.5rem;
    padding: 0em 5% 0.2em;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.5rem;
    margin: 2em 0em 1em;
    padding-left: 21%;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-course, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-age, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-color {
    display: flex;
    flex-direction: row;
    padding: 1em 0em;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-course label, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-age label, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-color label {
    padding: 0em 1em;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-course input, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-age input, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-color input {
    border: 2px solid #efefef;
    border-radius: 0.3em;
    text-align: left;
    width: 50%;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-course #course, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-age #course, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-color #course {
    width: 42.5%;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-course #age, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-age #age, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-color #age {
    width: 49.5%;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-course #color, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-age #color, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-color #color {
    width: 48%;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-course:nth-child(2), .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-age:nth-child(2), .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-color:nth-child(2) {
    padding: 0em 2em 0em 1.6em;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-course:nth-child(3), .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-age:nth-child(3), .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-color:nth-child(3) {
    padding: 1em 2em 1em 1em;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-course ::-moz-placeholder, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-age ::-moz-placeholder, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-color ::-moz-placeholder {
    background-color: #efefef;
    padding: 0em 0.2em 0em 0.2em;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-course ::placeholder, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-age ::placeholder, .container .roommate-matching-section .roomate-matching-container .roommate-matching-form form .input-color ::placeholder {
    background-color: #efefef;
    padding: 0em 0.2em 0em 0.2em;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form button {
    align-self: center;
    width: 10.5em;
    background-color: #FBBF00;
    width: 10.5em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    width: 10.5em;
    color: #000000;
    width: 10.5em;
    font-weight: 600;
    width: 10.5em;
    padding: 0.6em 1em;
    width: 10.5em;
    transition: background-color 0.3s ease;
    width: 10.5em;
    width: 9em;
    width: 10.5em;
    border-radius: 0.5em;
    width: 10.5em;
    font-size: 1.5rem;
    width: 10.5em;
    margin-right: 0em;
    width: 10.5em;
    text-shadow: 1px 1px 1px rgba(221, 219, 219, 0.5);
    width: 10.5em;
    background-color: #FF66C4;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  .container .roommate-matching-section .roomate-matching-container .roommate-matching-form img {
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */